
.container {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../../img/fondo1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.h1 {
    font-size: 36px;
    color: #FF6B6B;
    margin-bottom: 20px;
}

.welcome {
    font-size: 24px;
    color: #333333;
    margin: 40px;
    font-weight: bold;
}
.image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 40px;
}

.footer {
    text-align: center;
    font-size: 20px;
    color: #666666;
    margin-top: 40px;
    font-weight: bold;
}