 .fondo{
    background-image: url('../../img/fondo-Form.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

 }
 .recipeform {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(0px);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }

  .recipeh2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333333;
  }

  .recipelabel {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333333;
  }

  .recipeform input[type="text"],
  .recipeform textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #333333;
      border-radius: 4px;
  }

  .button {
      background-color: #06D6A0;
      color: #FFFFFF;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
  }

  .button:hover {
      background-color: #06A684;
  }

  .dietas {
      background-color: #FDF5E6;
      color: #333333;
      font-size: 14px;
      padding: 8px;
      border: none;
  }

  .dietas:hover {
      background-color: #FFDAB9;
  }
  .buttonsalir {
    /* width: 100%; */
    padding: 8px 16px;
    background-color: #FFD166;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.buttonsalir:hover {
    background-color: #06D6A0;
    color: #FFFFFF;
}
