.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../img/home1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .filter {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .filter select {
    padding: 8px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5dc;
    transition: background-color 0.3s ease
  }
  
  .filter select option {
    background-color: #f5f5dc;
  }
  .filter select:hover {
    cursor: pointer;
    background-color: #FFD166;
  }
  
  .filter select:focus {
    outline: none;
    box-shadow: 0 0 5px #d2b48c;
  }