@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');


.container{
    background-color: rgb(29, 171, 196);
    background-image: url(../Imagenes/Portal2.jpg);
    opacity: 90%;
    
    width: 25%;
    padding: 10px;
    border-radius: 15px;
    border: solid black;
    box-shadow: 0px 0px 17px 6px rgba(18,230,5,0.61) inset;
    -webkit-box-shadow: 0px 0px 17px 6px rgba(18,230,5,0.61) inset;
    -moz-box-shadow: 0px 0px 17px 6px rgba(18,230,5,0.61) inset;
}
.image{
    display: flex;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 15px;
    border: solid black;
    margin-left: 6px;
    box-shadow: 0px 0px 17px 6px rgba(18,230,5,0.61);
    -webkit-box-shadow: 0px 0px 17px 6px rgba(18,230,5,0.61) ;
    -moz-box-shadow: 0px 0px 17px 6px rgba(18,230,5,0.61) ;
    
}

.texto{
    font-family: 'Trade Winds', cursive;
    font-size: 35px;
    text-shadow: 2px 0px 0px rgba(76,199,89,0.86);
}
