.container{
    height: 80px;
    background-image: url('../Imagenes/logo3.svg');
    background-size: 20%;
    background-repeat: no-repeat; 
    background-position: 50%;
}
.barra{
    border: 2px solid rgb(11, 50, 33);
    font-size: medium;
    font-weight: bold;
    color: black;
    height: 40px;
    border-radius: 10px;
    margin-left: 70%;
    margin-top: 20px;
    text-shadow: 0.5px 0.5px 0.5px #000;
    
}
.boton{
    font-size: medium;
    color: black;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px #000;    
}
.imagen{
    size: 10px;
}

.barra:hover{
    transition: opacity 0.5s ease;
    opacity: 60%;
    color: #060606;
    font-weight: bold;
}
.boton:hover{
    transition: opacity 0.5s ease;
    opacity: 60%;
    color: #060606;
    font-weight: bold;
}